<%- layout('layout/main.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-md-8 mr-auto ml-auto mt-5">
        <h2 class="mb-5 text-uppercase text-center">Vista de Productos</h2>
        <%if (productosLista.length > 0){ %>
        <table class="table">
          <thead>
             <tr>
              <th scope="col">Título</th>
              <th scope="col">Precio</th>
              <th scope="col">Foto</th>
            </tr>
          </thead>
          <tbody>
            <% productosLista.forEach(producto=> {%>
            <tr>
              <td><%= producto.title%></td>
              <td>$<%= producto.price%></td>
              <td><img src="<%= producto.thumbnail%>" class="img-thumbnail img" alt="<%= producto.title%>"></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <%} else { %>
          <div class="alert alert-warning">
            No hay productos. Comience creando alguno <a href="/">Click!</a>
          </div>
          <% } %>
      <a href="/" class="btn btn-dark mt-3">Formulario</a>
    </div>
  </div>
</div>
